
div.online{
    margin-bottom: 7rem;
    margin-top: 5rem;
    a.online-scheduling{
        text-decoration: none;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
        background-color: $cream;
        border-radius: 20px;
        color: $red;
        &:hover{
            color: $cream;
            background-color: $red;
        }
    }
}

.section-contact{
    margin-top: 4rem;
    text-align: center !important;
    div.container{
        h2{
            @extend #h2;
            font-family: $bodoni;
            margin: 0 auto;
            margin-bottom: 4rem !important;
            text-align: center !important;
        }
        div{
            border: 1px solid $red;

            iframe{
                width: 320px;
            }
        }
    }
    div.adress-div{
        margin-top: 11rem;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: $cream;
        p{
            font-family: $lato;
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 4.5rem;
            letter-spacing: normal;
            color: $black;
            a{
                text-decoration: none;
                &:hover{
                    color: $red;
                }
            }
        }
    }
}

@media(min-width:450px){
    .section-contact{
        div.container{
            div{
                iframe{
                    width: 420px;
                }
            }
        }
    }
}

@media(min-width:576px){
    .section-contact{
        div.container{
            div{
                iframe{
                    width: 490px;
                }
            }
        }
    }
}

@media(min-width:768px){
    .section-contact{
        div.container{
            div{
                iframe{
                    width: 650px;
                }
            }
        }
    }
}

@media(min-width:992px){
    .section-contact{
        div.container{
            div{
                iframe{
                    width: 800px;
                }
            }
        }
    }
}

@media(min-width:1200px){
    .section-contact{
        div.container{
            div{
                iframe{
                    width: 850px;
                }
            }
        }
    }
}






