

.h4-smaller{
    font-size: 2rem;
}


@media(min-width: 576px){

    .h4-smaller{
        font-size: 3rem;
    }

}

.trt{
    margin-bottom: 4rem;
}

.vacum-sond{
    margin-top: 9rem;
}













